{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 text-center">
    <h1 class="display-4" style="color: red;">Səhifə tapılmadı</h1>
    <p class="mt-4" style="font-style: italic; max-width: 60%; margin: 0 auto; text-align: left;">Qoy bütün səslər kəsilsin. Bircə hənir eşidilməsin. Qoy elə bir ah tutsun otağı, çarpayını, evdəki şeyləri, avadanlığı və mənim özümü, bütün nə varsa hamısı donsun. Onda baş verəcək. Baş verəcək! Nə isə bir xəbər olmalıdı. Özü də bax, bu gecə, indilərdə. Nəsə baş verməlidi. Mən ömrüm boyu xəbər gözləmişəm, onun vaxtı çatıb. Bütün varlıq yoxluqdan törənmişdir. Yoxdan başlayır hər şey. Həmişə belə olub.</p>
    <br>
    <p style="text-align: left; font-weight: normal; max-width: 60%; margin: 0 auto; font-size: 1.2rem;">Sabir Əhmədli, <span style="font-style: italic;">Yasamal gölündə qayıqlar üzürdü</span></p>
</div>
{% endblock %}
