{% extends "base.html" %}
{% load static %}
{% block title %}Biz Kimik{% endblock %}

{% block content %}
<div class="about-us-container">
    <h1 class="text-center">{{ about_us.title }}</h1>
    <div class="about-us-content" style="text-align: center;">
        {% if about_us.image %}
        <img src="{{ about_us.image.url }}" alt="{{ about_us.title }}" class="img-fluid" style="margin: 0 auto; max-width: 100%; height: auto;">
        {% endif %}
            <div class="content-body" style="max-width: 1200px; margin: 0 auto; padding-top: 20px;">
            {{ about_us.content|safe }}
        </div>
    </div>
</div>
{% endblock %}
