{% load static %}
<section class="articles-grid">
    <div class="article-card">
        <img src="{% static 'images/article1.jpg' %}" alt="Makale Fotoğrafı">
        <p class="author-name">Yazar Adı 1</p>
        <p class="article-title">Makale Başlığı 1</p>
    </div>
    <div class="article-card">
        <img src="{% static 'images/article2.jpg' %}" alt="Makale Fotoğrafı">
        <p class="author-name">Yazar Adı 2</p>
        <p class="article-title">Makale Başlığı 2</p>
    </div>
    <div class="article-card">
        <img src="{% static 'images/article3.jpg' %}" alt="Makale Fotoğrafı">
        <p class="author-name">Yazar Adı 3</p>
        <p class="article-title">Makale Başlığı 3</p>
    </div>
    <div class="article-card">
        <img src="{% static 'images/article1.jpg' %}" alt="Makale Fotoğrafı">
        <p class="author-name">Yazar Adı 4</p>
        <p class="article-title">Makale Başlığı 4</p>
    </div>
</section>
