{% extends 'base.html' %}

{% block content %}
    <style>
        h3 a {
            color: black;
            text-decoration: none;
        }

        h3 a:hover {
            text-decoration: underline; 
        }
    </style>

    <h2>Müəllif arxivi: {{ author.name }}</h2>
    <div class="divider"></div> 
    <ul class="list-unstyled">
        {% for writing in all_writings %}
            <li>
                <h3>
                    <a href="{% url writing.model_name|add:'_detail' writing.slug %}">
                        {{ writing.title }}
                    </a>
                </h3>
                <hr>
                {% comment %} <p>{{ writing.content|slice:":50"|truncatewords:25|safe }}...</p> 
                <div class="divider"></div>  {% endcomment %}
            </li>
        {% empty %}
            <p>Yazarın yazıları tapılmadı.</p>
        {% endfor %}
    </ul>
{% endblock %}
