{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}THE BAKU REVIEW{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
    <!-- Header Section -->
    <header class="bg-white text-white text-center py-4" style="margin-bottom: 20px;">
        <h1 class="site-title d-flex justify-content-center align-items-center">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="me-2" style="width: 70px; height: auto;">
            <a href="/" style="text-decoration: none; color: inherit;">THE BAKU REVIEW</a>
        </h1>
        

        <nav class="d-none d-lg-block">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'news_list' %}">YENİLİKLƏR</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'prose_list' %}">NƏSR</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'poetry_list' %}">POEZİYA</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'interview_list' %}">MÜSAHİBƏ</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'writtings_list' %}">YAZILAR</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">HAQQIMIZDA</a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="#">Biz Kimik</a></li>
                        <li><a class="dropdown-item" href="#">Yazı Qəbulu</a></li>
                        <li><a class="dropdown-item" href="#">Abunə Ol</a></li>
                    </ul>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" id="searchToggle" class="nav-link text-white me-2">
                        <i class="bi bi-search"></i>
                    </a>
                    <input type="text" id="searchInput" class="form-control" placeholder="Axtar..." style="display: none; width: 200px;"/>
                </li>
            </ul>
        </nav>

        <nav class="navbar navbar-dark bg-dark d-lg-none">
            <div class="container-fluid">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'news_list' %}">YENİLİKLƏR</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'prose_list' %}">NƏSR</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'poetry_list' %}">POEZİYA</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'interview_list' %}">MÜSAHİBƏ</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'writtings_list' %}">YAZILAR</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="mobileAboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">HAQQIMIZDA</a>
                            <ul class="dropdown-menu" aria-labelledby="mobileAboutDropdown">
                                <li><a class="dropdown-item text-white" href="#">Biz Kimik</a></li>
                                <li><a class="dropdown-item text-white" href="#">Yazı Qəbulu</a></li>
                                <li><a class="dropdown-item text-white" href="#">Abunə Ol</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </div>
        </nav>
       
    </header>

    <main class="container mt-5">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p>© 2024 THE BAKU REVIEW. BÜTÜN HÜQUQLAR QORUNUR</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('searchToggle').addEventListener('click', function(e) {
            e.preventDefault();
            const searchInput = document.getElementById('searchInput');
            const searchText = document.getElementById('searchText');
            
            if (searchInput.style.display === 'none' || searchInput.style.display === '') {
                searchInput.style.display = 'block'; // Arama alanını göster
                searchText.style.display = 'none'; // "Axtar..." metnini gizle
                searchInput.focus(); // Arama alanını odakla
            } else {
                searchInput.style.display = 'none'; // Arama alanını gizle
                searchText.style.display = 'inline'; // "Axtar..." metnini göster
            }
        });
    </script>
</body>
</html>
