{% extends 'base.html' %}
{% load static %}
{% block title %}THE BAKU REVIEW{% endblock %}

{% block content %}
<div class="container mt-0">
    <div class="row align-items-stretch">
        <div class="col-md-5">
            <div class="image-preview d-none d-md-block">  <!-- Sadece web için görünür -->
                {% if top_5_articles %}
                    <img id="articleImage" class="img-fluid" src="{{ top_5_articles.0.image.url }}" alt="{{ top_5_articles.0.title }}">
                {% else %}
                    <img id="articleImage" class="img-fluid" src="{% static 'images/default.png' %}" alt="Default Image">
                {% endif %}
            </div>
        </div>
        <!-- Web için görünür olan kısım -->
        <div class="col-md-7 article-list d-none d-md-block">
            <ul class="list-group list-group-flush">
                {% for article in top_5_articles %}
                    <li class="list-group-item" data-image="{{ article.image.url }}" style="cursor: pointer;" onclick="location.href='{{ article.source_model }}'">
                        <strong>{{ article.title }}</strong>
                        <p class="author-name">{{ article.author }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        

        <!-- Mobil için görünür olan kısım -->
        <div class="col-md-7 article-list d-block d-md-none">
            {% for article in top_5_articles %}
                <a href="{{ article.source_model }}" class="text-decoration-none">
                    <div class="card mb-3" style="background-color: #000; color: white;">
                        <div class="card-body">
                            <img src="{{ article.image.url }}" class="card-img-top" alt="Makale Fotoğrafı">
                            <p class="author-name">{{ article.author }}</p>
                            <p class="article-title">{{ article.title }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        
    </div>
</div>

<main class="container mt-3">
    <section class="articles-grid">
        {% for article in remaining_articles %}
            <a href="{{ article.source_model }}" class="article-card text-decoration-none">
                <img src="{{ article.image.url }}" alt="Makale Fotoğrafı" class="img-fluid">
                <p class="author-name" style="color: black;">{{ article.author }}</p>
                <p class="article-title">{{ article.title }}</p>
            </a>
        {% endfor %}
    </section>
</main>


<script>
    const articles = document.querySelectorAll('.list-group-item');
    const articleImage = document.getElementById('articleImage');

    articles.forEach(article => {
        article.addEventListener('mouseover', () => {
            const newImage = article.getAttribute('data-image');
            articleImage.src = newImage;
            article.querySelector('strong').classList.add('highlight');
        });

        article.addEventListener('mouseleave', () => {
            article.querySelector('strong').classList.remove('highlight');
        });
    });
</script>

{% endblock %}
