{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mt-4">
    <div class="row">
        <!-- Sol Taraf: 12 birim, 3 sütunlu düzen -->
        {% for poetry in poetry_list %}
        <div class="col-md-4 mb-4"> <!-- Her sütun 4 birim genişliğinde, toplamda 12 birim -->
            <a href="{% url 'poetry_detail' poetry.slug %}" class="card prose-card" style="height: 100%; text-decoration: none; color: inherit; border: none;">
                <img src="{{ poetry.image.url }}" class="card-img-top" alt="{{ poetry.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ poetry.title }}</h5>
                    <p class="card-text"><small class="text-muted">{{ poetry.author }}</small></p>
                    {% comment %} <p class="card-text">{{ poetry.content|truncatewords:5|safe }}</p> <!-- 5 kelimeye kadar kısalt --> {% endcomment %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    
    <!-- Sayfalama -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Geri</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">İrəli &raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</main>
{% endblock %}
