{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mt-4">
    <div class="row detail">
        <!-- Her biri 4 birim genişliğinde 3 sütun -->
        {% for prose in prose_list %}
        <div class="col-md-4 prose-list mb-4"> <!-- Her sütun 4 birim genişliğinde -->
            <a href="{% url 'prose_detail' prose.slug %}" class="card prose-card" style="height: 100%; text-decoration: none; color: inherit; border: none;">
                <img src="{{ prose.thumbnail.url }}" class="card-img-top" alt="Nəsr Fotoğrafı">
                <div class="card-body">
                    <h5 class="card-title">{{ prose.title }}</h5>
                    <p class="card-text"><small class="text-muted">{{ prose.author }}</small></p>
                    {% comment %} <p class="card-text">{{ prose.content|truncatewords:20 }}</p> {% endcomment %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% include "pagination.html" %}
</main>
{% endblock %}
